* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(0, 0, 0);
    a {
        img{
        width: 104px;
        height: 87px;
        }
    }
    nav {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-right: 10%;
        }
    }
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
  }
  .boton_personalizado:hover{
    color: #000000;
    background-color: #FFC300;
  }
.boton_personalizado:active {
    position:relative;
    top:1px;
}

.a_imagen{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.texto_main{
    width: 50%;
    display: flex;
    justify-content: center;
}
main{
    height: 100%;
    min-height: 80vh;
    background-image: url("../img/fondo.jpg");
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        .bol{
            position: relative;
            width: 300px;
            height: 300px;
            background: rgba( 255,255,255,0.1);
            border-radius: 50%;
            border: 8px solid transparent;
        }
        .bol::before{
            content: "";
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
            height: 30px;
            border: 15px solid #444;
            border-radius: 50%;
            box-shadow: 0 10px #222;
        }
        .bol::after{
            content: "";
            position: absolute;
            width: 150px;
            height: 80px;
            background: rgba(255,255,255,0.05);
        }
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: black;
    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        ul:first-child{
            font-size: 30px;
            width: 6%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .segundoul_footer{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
}
}
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(54, 54, 54);
}
