* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(0, 0, 0);
    a {
        img{
        width: 104px;
        height: 87px;
        }
    }
    .respmenu{
        display: none;
    }
    nav {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-right: 10%;
        }
    }
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    transition: 0,2s linear;
  }
.boton_personalizado:hover{
    color: #000000;
    background: #FFC300;
    transition: 1.5s linear;
}
.boton_personalizado:active {
    position:relative;
    top:1px;
}

.a_imagen{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.texto_main{
    width: 50%;
    display: flex;
    justify-content: center;
}
main{
    height: 100%;
    min-height: 80vh;
    background-image: url("../img/fondo.jpg");
    article{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 50vh;
        min-width: 50vh;
        :first-child{
            display: flex;
            flex-direction: column;
            a{
                margin-top: 40%;
                img{
                    width: 250px;
                    height: 300px;
                }
            }
        }
        :nth-child(2){
            display: flex;
            flex-direction: column;
            
            li{
                margin-top: 30%;
            }
        }
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: black;
    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        ul:first-child{
            font-size: 30px;
            width: 6%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .segundoul_footer{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
}
}
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(54, 54, 54);
}

@media screen and (max-width: 854px){
    footer{
        height: 199px;
        nav{
            height: 200px;
            ul:nth-child(2){
                flex-direction: column;
                width: 94%;
                height: 80%;
                li{
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    header{
        nav{
            width: 10vw;
            i:nth-child(1){
                display: flex;
                font-size: 30px;
            }
            ul{
                display: none;
            }
        }
        .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
            position: absolute;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            right: 0;
            top: 9px;
            width: 48px;
            height: 48px;
        }
          
        .respmenu .fa-bars, .respmenu .fa-times {
            font-size: 1.7rem;
            pointer-events: none;
        }
          
        .respmenu input[type="checkbox"] {
            opacity: 0;
        }
          
        .respmenu {
            display: block;
            color: rgb(0, 0, 0);
            position: relative;
            background: #000000;
            min-height: 48px;
        }
          
        .respmenu nav {
            display: block;
        }
          
        .respmenu input:checked ~ nav {
            height: 30vh;
            width: 30vw;
            display: block;
            position: absolute;
            border: 1px rgb(255, 255, 255) solid;
            background-color: #000000;
            font-size: 1.7rem;
            right: 3px;
            top: 40px;
            ul{
                font-size: 1rem;
                display: block;
                :nth-child(1){
                    margin-bottom: 10px;
                }
                :nth-child(2){
                    margin-bottom: 10px;
                }
                :nth-child(3){
                    margin-bottom: 10px;
                }
            }
        }
          
        .respmenu input:checked ~ .fa-bars {
            display: none;
        }
          
        .respmenu input:not(:checked) ~ .fa-times {
            display: none;
        }
        .respmenu input:checked{
              nav{
                  ul{
                      display: block;
                  }
              }
        }
    }
    main{
        article{
            display: block;
            :first-child{
                align-items: center;
            }
            :nth-child(2){
                align-items: center;
                li{
                    margin-top: 0%;
                    margin-bottom: 10%;
                }
            }
        }

    }
}