* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}
html{
    background-image: url("../img/fondo.jpg")
}
input{
    display: block;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: transparent;
    a {
        img{
        width: 104px;
        height: 87px;
        }
    }
    nav {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-right: 10%;
        }
    }
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    transition: 0,2s linear;
  }
.boton_personalizado:hover{
    color: #000000;
    background: #FFC300;
    transition: 1.5s linear;
}
.boton_personalizado:active {
    position:relative;
    top:1px;
}
main{
    height: 100%;
    min-height: 80vh;
    color: #000000;
    display: block;
    div{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
                input{
                    background-color: rgba(255,255,255,0);
                    border-top: 0px;
                    border-left: 0px;
                    border-right: 0px;
                    border-bottom: 3px solid white;
                }
                :nth-child(2){
                    margin-top: 20%;
                    margin-bottom: 20%;
                }
                :nth-child(3){
                    margin-bottom: 20%;
                }
                :nth-child(4){
                    border-radius: 1px solid white;
                }
                :last-child{
                    width: 70%;
                    height: 150%;
                    background-color: white;
                    margin-top: 10%;
                    color: #000000;
                    padding: 1%;
                    border-radius: 5%;
                    a{
                        color: #000000;
                    }
                }
            }
        }
    }

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: black;
    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        ul:first-child{
            font-size: 30px;
            width: 6%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .segundoul_footer{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
}
}
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(54, 54, 54);
}

@media screen and (max-width: 854px){
    footer{
        height: 199px;
        nav{
            height: 200px;
            ul:nth-child(2){
                flex-direction: column;
                width: 94%;
                height: 80%;
                li{
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
